<div>
    <h3>Completar datos: Profesor</h3>
    {% if message %}<p style="color:green">{{ message }}</p>{% endif %}
    <p class="muted">Persona: {{ persona[1] }} {{ persona[2] }}</p>
    <form method="post">
        <label>Especialidad:<br>
            <select name="id_especialidad">
                <option value="">-- ninguno --</option>
                {% for e in especialidades %}
                    <option value="{{ e.id_especialidad }}">{{ e.nombre_especialidad }}</option>
                {% endfor %}
            </select>
        </label><br>
        <div style="margin-top:8px">
            <button class="panel-btn" type="submit">Guardar Profesor</button>
        </div>
    </form>
</div>
