<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Materias</h3>
                </div>
                <div class="card-body">
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                    <form method="post">
                        {% if edit and materia %}
                            <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                        {% endif %}
                        <div class="mb-3">
                            <label for="nombre_materia" class="form-label">Nombre de la materia:</label>
                            <input type="text" id="nombre_materia" name="nombre_materia" class="form-control" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" title="Solo letras y espacios" value="{{ materia.nombre_materia if materia }}">
                        </div>
                        <button type="submit" class="btn btn-primary">{% if edit %}Guardar cambios{% else %}Crear materia{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
