<div class="card">
    <h3>Registros</h3>
    <ul>
        <li><a href="{{ url_for('registros_tipo', tipo='plantel') }}">Registro de Plantel</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='estudiantes') }}">Registro de Estudiantes</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='profesores') }}">Registro de Profesores</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='personal_admin') }}">Personal Administrativo</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='personal_obrero') }}">Personal Obrero</a></li>
    </ul>
</div>
