<div class="card">
    <h3>Registros</h3>
    <ul>
        <li><a href="{{ url_for('registros_tipo', tipo='plantel') }}">Registro de Plantel</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='personas') }}">Registro de Personas</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='personal_admin') }}">Personal Administrativo</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='materias') }}">Materias</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='secciones') }}">Secciones</a></li>
        <li><a href="{{ url_for('registros_tipo', tipo='matriculas') }}">Registro de Matrículas</a></li>
    </ul>
</div>
