<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education Technologic</title> <!--Este es el titull de la pagina-->
    <link rel="stylesheet" href="{{ url_for('static', filename='login/register.css') }}" />
    <title>Formulario</title>
</head>

<body>
    <div class="container">
        <div class="form sign-up-container">
            <h1>Registrarse</h1>
            <form action="{{ url_for('login.register') }}" method="POST">
                <input type="text" name="usuario" placeholder="Nombre de Usuario" id="name" required>
                <input type="password" name="clave" placeholder="Clave" id="password" required>
                <input type="submit" value="Registrarse">
            </form>
            <p><a href="{{ url_for('login.login') }}">Volver al login</a></p>
        </div>
    </div>
</body>
</html>
