<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education Technologic</title> <!--Este es el titull de la pagina-->
    <link rel="stylesheet" href="{{ url_for('static', filename='login/register.css') }}" />
    <title>Formulario</title>
</head>
<body>
    <div class="container">
        <div class="form sign-up-container">
            <h1>Registrarse</h1>
            <form class="formulario">
                <input type="text" placeholder="Nombre de Usuario" id="name">
                <input type="email" placeholder="Email" id="email">
                <input type="password" placeholder="Clave" id="password">


            </form>
        </div>
    </div>
</body>
</html>
